<!-- mainmenu area -->
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="dropdownMenu">
                <button class="dropbtnMenu">Меню   <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div class="dropdownMenu-content">
                    <a asp-area="admin" asp-controller="Home" asp-action="Index">Главная</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Главная страница сайта</a>
                    <a asp-area="" asp-controller="Home" asp-action="AllGame">Каталог</a>
                    <a asp-area="" asp-controller="Home" asp-action="Shares">Акции</a>
                    <a asp-area="" asp-controller="Home" asp-action="Support">Поддержка</a>

                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-area="admin" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li class=""><a asp-area="" asp-controller="Home" asp-action="Index">Главная страница сайта</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="AllGame">Каталог</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Shares">Акции</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Support">Поддержка</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End mainmenu area -->