<!--header area -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@User.Identity.Name</li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-user"></i>Выйти</a></li>
                        }
                        <h1>Панель администратора</h1>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->
