<!--header area -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-user"></i>Выход</a></li>
                        <li><a asp-area="user" asp-controller="Home" asp-action="Index"><i class="fa fa-user"></i> Профиль</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->
