    <!-- footer top area -->
<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>G</span>ame<span>S</span>tore</h2>
                    <p>Платформа цифровой дистрибуции для PC- и Mac-игр, предлагающая пользователям со всего СНГ приобрести контент по выгодным ценам!</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Безопасность</h2>
                    <p>
                        Все ключи куплены легально: никаких «серых» рискованных схем. Покупайте и пользуйтесь всеми возможностями официальной версии игры.
                        После оплаты ключ автоматически отправляется на указанную вами почту. Предзаказ - в день релиза.
                        Мы прошли специальную процедуру проверки в системе Webmoney и получили персональный аттестат. Это гарантирует, что обладатель этого сертификата является реальной личностью и несет ответственность за деятельность магазина.
                    </p>
                </div>
            </div>



            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Новостная рассылка</h2>
                    <p>Подпишитесь на нашу рассылку и получайте эксклюзивные предложения, которые вы больше нигде не найдете, прямо на свой почтовый ящик!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Введите адрес электронной почты">
                            <input type="submit" value="Подписаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2023 uCommerce. Все права защищены.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer bottom area -->
