<!--header area -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-area="User" asp-controller="Home" asp-action="Index"><i class="fa fa-user"></i>@User.Identity.Name</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-user"></i>Выйти</a></li>
                        }
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>Войти</a></li>
                        }
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->
<!-- site branding area -->
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"></a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->
