<!--header area -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>Войти</a></li>
                        <li><a asp-area="" asp-controller="" asp-action=""><i class="fa fa-user"></i> Профиль</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->
<!-- site branding area -->
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"></a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->
