
@{
    ViewData["Title"] = "Поддержка";
}

<!-- FQA area -->
<div class="container">
    <h1 class="suph1"><u><b>Часто задаваемые вопросы:</b></u></h1>
    <div class="questions">
        <h2>Если игра мне не понравится, могу ли я вернуть свои деньги?</h2>
        <p class="answer">Это не представляется возможным. Товар, приобретенный покупателем, не подлежит возврату или обмену в случае, если товар был получен.</p>
    </div>
    <div class="questions">
        <h2>Какими способами я могу оплатить товар?</h2>
        <p class="answer">Нажмите на кнопку "Добавить в корзину" на странице любого из представленных товаров и увидите полный список доступных способов оплаты.</p>
    </div>
    <div class="questions">
        <h2>Я хочу купить игру, но как мне узнать, есть ли в ней мультиплеер или, к примеру, достижения Steam?</h2>
        <p class="answer">Информация отображается на странице товара в магазине, смотрите блок "Особенности".</p>
    </div>
    <div class="questions">
        <h2>Что делать, если игра вылетает, зависает или не запускается?</h2>
        <p class="answer"> Магазин не несет ответственности за возможные технические неполадки с игрой, и максимум что мы можем порекомендовать в данной ситуации — переустановить или обновить драйвера на аппаратную часть компьютера, снизить графические настройки в игре, проверить компьютер на наличие вирусов / майнеров, завершить лишние процессы из диспетчера задач, переустановить ОС, а также проверить - не перегреваются ли какие-либо составные части компьютера.</p>
        <p class="answer">Если ничего из перечисленного не решает Вашу проблему, то необходимо искать решение на форумах, в интернете или обращаться в поддержку разработчика продукта за получением официального ответа.</p>
    </div>
</div>
<!--End FQA area-->
<!--Feedback area-->
<div class="container">
    <h1 class="suph1"><u><b>Задать свой вопрос:</b></u></h1>
    <form asp-controller="" asp-action="" method="post" id="feedback_form" class="feedback_form">
        <div class="input_feedback_item">
            <input  type="text" placeholder="Укажите свой Email">

        </div>
        <div class="input_feedback_item">
            <textarea  id="formMessage" name="Message" class="input_feedback_item" placeholder="Задайте вопрос"></textarea>
        </div>
        <button type="submit" class="form__button">Отправить</button>
    </form>


</div>
<!--End Feedback area-->