
@{
    ViewData["Title"] = "Admin- Developers panel";
}

@model DevelopersViewModel
<div class="container">


    <div class="single-shop-product">
        <h1>Разработчики</h1>
        <a class="add_to_cart_button" asp-area="Admin" asp-controller="Developers" asp-action="Edit">Добавить Нового разработчика</a>
    </div>
    <form method="get">
        <div class="form-group">
            <input name="name" class="form-control" placeholder="Введите наименование разработчика" />
        </div>
    </form>
    <table class="tableBasket">
        <thead>
            <tr>
                <td><b>ID:</b></td>
                <td><b>Наименование:</b></td>
                <td><b>Управление</b></td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Developers.Count() > 0)
            {
                @foreach (var obj in Model.Developers)
                {
                    <tr class="tableDev">
                        <td>@obj.Id</td>
                        <td>@obj.NameDeveloper</td>
                        <td>
                            <a class="control_buttons" asp-area="Admin" asp-controller="Developers" asp-action="Edit" asp-route-id=@obj.Id>Изменить</a>
                            <a class="control_buttons" asp-area="Admin" asp-controller="Developers" asp-action="Delete" asp-route-id=@obj.Id>Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

